<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/guest/guestList}">Guest</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link active" aria-current="page" th:href="@{/board/boardList}">Board</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link active" aria-current="page" th:href="@{/pds/pdsList}">Pds</a>
        </li>
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">MyShop</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{#}">상품리스트</a></li>
            <li><a class="dropdown-item" th:href="@{#}">장바구니</a></li>
            <li><a class="dropdown-item" th:href="@{#}">구매이력</a></li>
            <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/admin/productInput}">상품등록</a></li>
              <li><a class="dropdown-item" th:href="@{/admin/productList}">상품관리</a></li>
            </th:block>
          </ul>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link active" aria-current="page" th:href="@{/member/memberLogin}">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link active" aria-current="page" th:href="@{/member/memberLogout}">Logout</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link active" aria-current="page" th:href="@{/member/memberJoin}">Join</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><span class="material-symbols-outlined">heart_plus</span></a>
        </li>
        -->
      </ul>
      <!--
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      -->
    </div>
  </div>
</nav>


</html>