<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function pageSizeCheck() {
          let pageSize = document.getElementById("pageSize").value;
          location.href = "memberList?pageSize="+pageSize;
        }
    </script>
</th:block>

<div layout:fragment="content">

    <h2 class="text-center">회 원 리 스 트</h2>
    <div class="row mb-2">
        <div class="col text-end">
            <select name="pageSize" id="pageSize" onchange="pageSizeCheck()">
                <option th:selected="${pageVO.pageSize==5 }">5</option>
                <option th:selected="${pageVO.pageSize==10}">10</option>
                <option th:selected="${pageVO.pageSize==15}">15</option>
                <option th:selected="${pageVO.pageSize==20}">20</option>
                <option th:selected="${pageVO.pageSize==30}">30</option>
                <option th:selected="${pageVO.pageSize==50}">50</option>
            </select>
        </div>
    </div>
    <table class="table table-hover text-center">
        <tr class="table-secondary">
            <th>번호</th>
            <th>성명</th>
            <th>이메일</th>
            <th>주소</th>
            <th>회원등급</th>
        </tr>
        <th:block th:each="member, st : ${pageVO.memberList}">
            <tr>
                <td>[[${pageVO.curScrStartNo - st.index}]]</td>
                <td>[[${member.name}]]</td>
                <td>[[${member.email}]]</td>
                <td>[[${member.address}]]</td>
                <td>[[${member.role}]]</td>
            </tr>
        </th:block>
    </table>

    <!-- 블록페이지 시작 -->
    <div class="text-center">
        <ul class="pagination justify-content-center">
            <th:block th:if="${pageVO.pag > 1}"><li class="page-item"><a class="page-link text-secondary" th:href="@{memberList(pageSize=${pageVO.pageSize},pag=0)}">첫페이지</a></li></th:block>
            <th:block th:if="${pageVO.curBlock > 0}"><li class="page-item"><a class="page-link text-secondary" th:href="@{memberList(pageSize=${pageVO.pageSize},pag=${(pageVO.curBlock-1)*pageVO.blockSize+1-1})}">이전블록</a></li></th:block>
            <th:block th:each="i: ${#numbers.sequence((pageVO.curBlock*pageVO.blockSize)+1,(pageVO.curBlock*pageVO.blockSize)+pageVO.blockSize)}">
                <th:block th:if="${i <= pageVO.totPage && i == pageVO.pag}"><li class="page-item active"><a class="page-link bg-secondary border-secondary" th:href="@{memberList(pageSize=${pageVO.pageSize},pag=${i-1})}" th:text="${i}"></a></li></th:block>
                <th:block th:if="${i <= pageVO.totPage && i != pageVO.pag}"><li class="page-item"><a class="page-link text-secondary" th:href="@{memberList(pageSize=${pageVO.pageSize},pag=${i-1})}" th:text="${i}"></a></li></th:block>
            </th:block>
            <th:block th:if="${pageVO.curBlock < pageVO.lastBlock}"><li class="page-item"><a class="page-link text-secondary" th:href="@{memberList(pageSize=${pageVO.pageSize},pag=${(pageVO.curBlock+1)*pageVO.blockSize+1-1})}">다음블록</a></li></th:block>
            <th:block th:if="${pageVO.pag < pageVO.totPage}"><li class="page-item"><a class="page-link text-secondary" th:href="@{memberList(pageSize=${pageVO.pageSize},pag=${pageVO.totPage-1})}">마지막페이지</a></li></th:block>
        </ul>
    </div>
    <!-- 블록페이지 끝 -->

</div>

</html>