<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/basicLayout}">

<div layout:fragment="content">
    <h2>자료실 리스트</h2>
    <hr class="secondary">
    <div><img src="/images/5.jpg" width="400px"/> </div>
    <hr class="secondary">
    <div>
        <a href="/guest/guestList?mid=admin">방명록</a> |
        <a href="/board/boardList">게시판</a> |
        <a href="/pds/pdsList">자료실</a> |
        <a href="/">홈으로</a>
    </div>
    <hr class="secondary">
</div>

</html>