<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/basicLayout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        <!--
        let message = [[${message}]];
        if(message != null) alert(message);
        -->
        if([[${message}]] != null) alert([[${message}]]);
    </script>
</th:block>

<div layout:fragment="content" class="text-center">
    <h2>길동이네 집에 오신것을 환영합니다..</h2>
    <hr class="secondary">
    <div><img src="/images/1.jpg" width="400px"/> </div>
    <hr class="secondary">
    <div>
        <a href="/guest/guestList?mid=admin">방명록</a> |
        <a href="/board/boardList">게시판</a> |
        <a href="/pds/pdsList">자료실</a>
    </div>
    <hr class="secondary">
</div>

</html>